@page "/"
@using Pin.LiveSports.Blazor.Components

@inject NavigationManager _navigationManager
@inject IMatchService _matchService
@inject ITournamentService tournamentService



@foreach (var tournament in tournaments)
{
    <table>
        <thead>
            <tr>
                <th>Tornooi :</th>
                <th>Aantal deelnemers:</th>
                <th>Begonnen ?</th>
                <th>afgerond ?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@tournament.Name</td>
                <td>@tournament.Competitors.Count</td>
                <td>@(tournament.HasStarted? "ja" : "nee")</td>
                <td>@(tournament.HasCompleted? "ja" : "nee")</td>
                <td><button></button></td>
            </tr>
        </tbody>
    </table>
}



@code{
    List<Tournament> tournaments;

    private HubConnection hubConnection;
    private List<MatchUpdate> matchHistory = new List<MatchUpdate>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
                        .WithUrl(_navigationManager.ToAbsoluteUri(Constants.MatchHubUrl))
                        .Build();

        tournaments = tournamentService.GetAll();

        hubConnection.On<MatchUpdate>("matchUpdate", (update) =>
        {
            matchHistory = _matchService.GetMatchHistory();
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        await base.OnInitializedAsync();
    }
}