@page "/"
@using Pin.LiveSports.Blazor.Components

@inject NavigationManager _navigationManager



@if (matchHistory.Count == 0)
 {
    <div>de match zal binnenkort beginnen</div>
 }
@if(matchHistory.Count!=0)
 {
    <div>Match historie :</div>
        @foreach (var history in matchHistory)
         {
             <MatchHistoryItem HistoryItem="history" />
         }
 }



@code{

    private HubConnection hubConnection;
    private List<MatchUpdate> matchHistory = new List<MatchUpdate>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
                        .WithUrl(_navigationManager.ToAbsoluteUri(Constants.MatchHubUrl))
                        .Build();

        hubConnection.On<MatchUpdate>("matchUpdate", (update) =>
        {
            matchHistory.Add(update);
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        await base.OnInitializedAsync();
    }
}