@using Pin.LiveSports.Core

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Surfer</th>
            <th>Time</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var historyItem in TournamentHistory)
        {
            <tr>
                <td>@historyItem.SurferName</td>
                <td>@historyItem.Time.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@historyItem.FullUpdate</td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public List<MatchUpdate> TournamentHistory { get; set; }

    [Parameter]
    public bool HasFinished { get; set; }

    [Parameter]
    public bool HasWon { get; set; }
}
