@using Pin.LiveSports.Core

<table>
    <thead>
        <tr>
            <th>Surfer</th>
            <th>Time</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@HistoryItem.SurferName |</td>
            <td>@HistoryItem.Time |</td>
            <td>@HistoryItem.FullUpdate</td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public MatchUpdate HistoryItem { get; set; }

    [Parameter]
    public bool HasFinished { get; set; }

    [Parameter]
    public bool HasWon { get; set; }
}
