

<table>
    <thead>
        <tr>
            <th>
                
            </th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @HistoryItem.FullUpdate
            </td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public MatchUpdate HistoryItem { get; set; }
}
