
<table class="table table-striped">
   
        <thead>
            <tr>
                <th>Tornooi :</th>
                <th>Aantal deelnemers:</th>
                <th>Begonnen ?</th>
                <th>afgerond ?</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    <tbody>
        @foreach (var tournament in Tournaments)
        {
            <tr>
                <td>@tournament.Name</td>
                <td>@tournament.Competitors.Count</td>
                <td>@(tournament.HasStarted ? "ja" : "nee")</td>
                <td>@(tournament.HasCompleted ? "ja" : "nee")</td>
                @if (!isReporter)
                {
                    <td><button class="btn btn-primary" @onclick="(e=> OpenTournament.InvokeAsync(tournament))">Zie toernooi</button></td>
                    <td></td>
                }
                @if (isReporter)
                {
                    <td><button class="btn btn-warning" @onclick="(e=> OpenTournament.InvokeAsync(tournament))">Update toernooi</button></td>
                    <td><button class="btn btn-primary">Reporteer toernooi</button></td>
                }
            </tr>
        }
    </tbody>
     
</table>



@code {
    [Parameter]
    public List<Tournament> Tournaments { get; set; }

    [Parameter]
    public bool isReporter { get; set; }

    [Parameter]
    public EventCallback<Tournament> OpenTournament { get; set; } 

    [Parameter]
    public EventCallback<Tournament> StartReport { get; set; }
}
