<EditForm Model="WindSurfer" OnValidSubmit="@(e=> OnSave.InvokeAsync(WindSurfer))">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <span style="font-size:small">* Verplichte velden</span>
    <div class="form-group">
        <label for="name">*Naam: </label>
        <InputText id="name" class="form-control" @bind-Value="WindSurfer.Name" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-warning" @onclick="OnCancel">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public WindSurfer WindSurfer { get; set; }

    [Parameter]
    public EventCallback<WindSurfer> OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }
}
