@page "/tournament/{Id:int}"
@inject ITournamentService _tournamentService

<table class="table table-striped">
    <thead>
        <tr>

            <th>deelnemers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var surfer in ChosenTournament.Competitors)
        {
            <tr>
                <td>@surfer.Surfer.Name</td>
                <td>@surfer.PointsGained</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int Id { get; set; }

    public Tournament ChosenTournament { get; set; }


    protected override void OnInitialized()
    {
        ChosenTournament = _tournamentService.GetById(Id);
        base.OnInitialized();
    }
}
