@page "/tournament/{Id:int}"
@using Pin.LiveSports.Core;
@using Pin.LiveSports.Blazor.Components;
@inject ITournamentService _tournamentService
@inject NavigationManager _navigationManager
@inject IMatchService _matchService

<table class="table table-striped">
    <thead>
        <tr>

            <th>deelnemers</th>
            <th>Aantal fases gedaan</th>
            <th>Totaal aantal punten</th>
            <th>Afgerond totaal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var surfer in ChosenTournament.Competitors)
        {
            <tr>
                <td>@surfer.Surfer.Name</td>
                @if (surfer.PointsGained.Count >= 2)
                {
                    <td>@(surfer.PointsGained.Count-1)</td>
                }
                @if (surfer.PointsGained.Count <= 2)
                {
                    <td></td>
                }
                
                <td>@surfer.PointsGained.Sum(p=>p.TotalPoints)</td>

                @if (surfer.PointsGained.Count >= 2)
                {
                    <td>@surfer.PointsGained.Sum(p=>p.AveragePoints)/@((surfer.PointsGained.Count-1) * 10)</td>
                }
                @if (surfer.PointsGained.Count <= 2)
                {
                    <td></td>
                }
                @if (surfer.WonCompetition)
                {
                    <td>Winnaar</td>
                }
                @if (!surfer.WonCompetition)
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
@foreach(var update in matchHistory)
{
    <MatchHistoryItem HistoryItem="update"/>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private List<MatchUpdate> matchHistory = new List<MatchUpdate>();
    public Tournament ChosenTournament { get; set; }
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
                       .WithUrl(_navigationManager.ToAbsoluteUri(Constants.MatchHubUrl))
                       .Build();

        hubConnection.On<int>("matchUpdate", (update) =>
        {
            if(Id== update)
            {
                matchHistory = _tournamentService.GetTournamentHistory(update);
            }
            StateHasChanged();
        });

        ChosenTournament = _tournamentService.GetById(Id);
        matchHistory = _tournamentService.GetTournamentHistory(Id);
        await hubConnection.StartAsync();
        await base.OnInitializedAsync();
    }
}
